html {
    background-color: rgb(240, 255, 199);
    font-size: 20px;
  }
  
#cookingList {
    background: rgb(255, 115, 0);
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }