body {

    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    color: #333;
    background-color: #e5e5e5;
}
header {
    text-align: center;
    padding: 40px;
    background-color: #14213D;
    color: #fff;
}
section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #FCA311;
}
p {
    line-height: 1.6;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}

* {
    box-sizing: border-box;
}
